# **Ejercicios de pair programming M√≥dulo 1**
## **Lecci√≥n 2**
### **Listas 1**

---

 - Usando la funci√≥n input, cread un programa que pregunte al usuario por el nombre de tres amig@s.

In [13]:
amigos = input("Por favor, indique el nombre de tres amigos: ")

 - Almacenad los resultados del paso anterior en una lista. üí°üí°Pista Tendr√©is que usar m√©todos de los strings que aprendimos en la lecci√≥n anterior.

In [19]:
lista_nombres = amigos.split(", ")
lista_nombres

['Laura', 'Felipe', 'Montse']

 - Usando la funci√≥n input, cread un programa que ahora le pregunte al usuario por las alturas de sus amig@s. Y almacenar los resultados en una lista.

In [20]:
alturas = input("Por favor indique la altura de sus tres amigos: ")

In [21]:
lista_alturas = alturas.split(", ")
lista_alturas

['1.80', '1.60', '1.75']

 - Esto os devolver√° una lista de strings similar a esta:

    ```python
    lista_alturas = ['1.45', ' 1.67', ' 1.57']
    ```

    Nos interesa que las alturas est√©n en tipo float para eso, ejecutad el siguiente c√≥digo. No es necesario que lo entend√°is, es un concepto m√°s avanzado que aprenderemos en las siguientes lecciones.

    ```python
    lista_alturas = [float(i) for i in lista_alturas]
    ```

In [22]:
lista_alturas = [float(i) for i in lista_alturas]


 - Ordenad las dos listas de mayor a menor. ¬øLo podr√©is hacer para la lista de nombres?

In [23]:
lista_nombres.sort(reverse=True)
lista_alturas.sort(reverse=True)
print(lista_nombres)
print(lista_alturas)

['Montse', 'Laura', 'Felipe']
[1.8, 1.75, 1.6]

 - ¬øCu√°l es la altura m√°xima de todos nuestros amig@os?

In [24]:
max(lista_alturas)

1.8

 - ¬øY la m√≠nima?

In [25]:
min(lista_alturas)

1.6

Dadas las siguientes listas:

 ```python
lista1 = [44, 55, 67, 44, 98, 29]

lista2 = [34, 56, 56, 78, 67, 56]
```


 * Unid las dos listas de forma que consigamos el siguiente output. Almacenad los resultados en una nueva variable y llamadla lista_lista.
     
    ```python
    lista_lista = [[44, 55, 67, 44, 98, 29], [34, 56, 56, 78, 67, 56]]
    ```

In [27]:
lista1 = [44, 55, 67, 44, 98, 29]
lista2 = [34, 56, 56, 78, 67, 56]
lista_lista = [lista1, lista2]
lista_lista

[[44, 55, 67, 44, 98, 29], [34, 56, 56, 78, 67, 56]]

* Unid las dos listas de forma que consigamos el siguiente output. Almacenad los resultados en una nueva variable y llamadla lista_numeros.

    ```python 
    lista_numeros = [44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]
    ```

In [29]:
lista_numeros = lista1 + lista2
lista_numeros

[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

 * De la lista lista_lista, ¬øcu√°ntas veces aparece el n√∫mero 67? ¬øy en la lista lista_numeros.
 Justificad por qu√© salen n√∫meros diferentes

In [32]:
print(lista_lista.count(67))
print(lista_numeros.count(67))
#Salen n√∫meros diferentes porque la lista_lista s√≥lo contiene listas, no n√∫meros, mientras que la lista_n√∫meros s√≠ los contiene.

0
2

 * Usando la lista_numeros, dadle la vuelta a la lista.

In [42]:
lista_numeros.reverse()
lista_numeros

[56, 67, 78, 56, 56, 34, 29, 98, 44, 67, 55, 44]