# **Ejercicios de pair programming Módulo 1**
## **Lección 3**
### **Listas 2**

 - Cread una lista con 10 números aleatorios entre el 0 y el 100. Para esto tendréis que ejecutar el siguiente código:
```python
import random
lista = random.sample(range(1,100), 10)
```

In [1]:
import random
lista = random.sample(range(1,100), 10)

In [2]:
lista

[93, 58, 23, 26, 33, 55, 38, 10, 66, 6]


Con la lista creada en el ejercicio anterior:

 * ¿Cuál es la longitud de la lista? Utilizad métodos de Python para extraer este resultado.

In [3]:
len(lista)

10

* Extraed el número que está en la tercera posición.Recordad que los índices en Python empiezan en 0 y que no corresponden con las "posiciones humanas"

In [4]:
lista[2]

23

 * Extraed el número que esta en la tercera posición utilizando los índices negativos.

In [5]:
lista[-8]

23

 * Preguntad al usuario por un número de la lista que hemos creado en el primer paso, recordad que para eso tendréis que usar la función input. ¿En que posición esta el número que ha eligido la usuaria?

In [7]:
numero_elegido = input("Diga un número de la lista")

In [8]:
numero_elegido

'55'

 * Extraed los valores que estén entre la tercera posición y la quinta (ambos inclusive). Esto nos tendrá que devolver una lista de 3 elementos.

In [9]:
lista [2:5]

[23, 26, 33]

 * Extraed los valores que estén entre las posiciones 6 y 9 utilizando índices negativos. Os debe devolver una lista con 4 números.

In [10]:
lista [-5:-1]

[55, 38, 10, 66]

 * ¿Cuáles son los numéros que están en las posiciones pares nuestra lista?

In [11]:
lista [1::2]

[58, 26, 55, 10, 6]

 * ¿Y los que están en posiciones impares?

In [12]:
lista [::2]

[93, 23, 33, 38, 66]

Dadas las siguientes listas:
```python
nombres = ["Laura", "Lorena", "Lupe", "Loreto", "Lucía"]

notas = [9, 8.5, 9.8, 8.9, 9.2]
```

In [13]:
nombres = ["Laura", "Lorena", "Lupe", "Loreto", "Lucía"]

notas = [9, 8.5, 9.8, 8.9, 9.2]

 * ¿Qué nota ha sacado Lupe? Para este ejercicio os pedimos que uséis primero el método index() de listas y luego lo índices con [] de las listas. Para esto tendréis que sacar primero en que posición esta Lupe en la lista nombres y usar el resultado de este paso para acceder ,usando los índices de Python, a la nota de Lupe.

In [15]:
print(nombres.index("Lupe"))
print(notas [2])

2
9.8

In [16]:
#Escribiéndolo en una sola línea de código:
print(notas [nombres.index("Lupe")])

9.8

 * De la misma forma, ¿qué alumna a sacado la nota más alta? Tendréis que poner en práctica, métodos aprendidos hoy y en la lección de listas de ayer.

In [22]:
print(max(notas))
print(notas.index(9.8))
print(nombres [2])

9.8
2
Lupe

In [24]:
#Escribiéndolo en una sola línea de código:
print(nombres [notas.index(max(notas))])

Lupe

 * ¿Qué alumna a sacado la nota más baja? ¿Es esta nota mayor que 5?

In [27]:
print(nombres [notas.index(min(notas))])
print(min(notas) > 5)

Lorena
True

 * Ordenad la lista de notas de mayor a menor y almacenalo en una nueva variable llamada notas_nuevo_orden

In [30]:
#Utilizamos "sorted" porque no se sobreescribe el nuevo valor que le vamos a asignar:
#sorted (variable, reverse = True)
notas_nuevo_orden = sorted(notas, reverse=True)
print (notas_nuevo_orden)

[9.8, 9.2, 9, 8.9, 8.5]

 * Ordenad las notas de las alumnas de mayor a menor. Usa el método que sobreescriba la variable notas.

In [32]:
notas.sort(reverse = True)
print(notas)

[9.8, 9.2, 9, 8.9, 8.5]

 * Ordenad la lista de nombres de mayor a menor. ¿Qué es lo que ha pasado?

In [35]:
nombres.sort(reverse=True)
print(nombres)
#Está ordenado de z-a

['Lupe', 'Lucía', 'Loreto', 'Lorena', 'Laura']

 * Borrad la lista de notas.

In [37]:
del notas
notas

NameError: name 'notas' is not defined

Dadas las siguientes listas:
```python
lunes = [34,56,82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]
```

In [43]:
lunes = [34,56,82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

 * Unid las tres listas de forma que tengamos el siguiente output
 ```python
[34, 56, 82, [99, 64, 24], [12, 59, 71]]
```

In [44]:
suma_listas = lunes.copy()

In [ ]:
suma_listas.append(martes)
suma_listas.append (miercoles)

In [46]:
print(suma_listas)

[34, 56, 82, [99, 64, 24], [12, 59, 71]]

 * Definid de nuevo la tres listas. Ahora unid las tres listas de tal forma que obtengamos el siguiente output:
```python
[34, 56, 82, 99, 64, 24, 12, 59, 71]
```

In [47]:
lunes = [34,56,82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [48]:
suma_listas2 = lunes.copy()

In [49]:
suma_listas2.extend(martes)
suma_listas2.extend (miercoles)

In [50]:
print(suma_listas2)

[34, 56, 82, 99, 64, 24, 12, 59, 71]

 * Definid de nuevo las tres listas. Insertad los siguientes valores:
    - En la lista lunes un 100 en la primera posición
    - En la lista martes un 100 en la tercera posición
    - En la lista miercoles un 100 en la última posición

In [58]:
lunes = [34,56,82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [59]:
lunes.insert(0,100)
martes.insert(2,100)
miercoles.insert(50,100)

In [60]:
print(lunes)
print(martes)
print(miercoles)

[100, 34, 56, 82]
[99, 64, 100, 24]
[12, 59, 71, 100]